<style type="text/css">
	@font-face {
	    font-family: 'monse';
	    src: url(res/font/Montserrat-Light.otf);
	}

	.body{
		margin: 0;
		font-size: 3vmin;
		font-family: 'monse';
		background-color: #f2f2f2;
		min-height: 100vh;
	}

	input:focus{
		outline: none;
	}

	.content{
		margin-top: 11vmin;
		padding-top: 5vmin; 
	}

	.content .notif{
		display: table;
		margin-left: 10vmin;
		margin-bottom: 5vmin;
	}

	.content .notif .notif_pic{
		display: table-cell;
		width: 8vmin;
		height: 8vmin;
		border-radius: 4vmin;
		background: #dd2267;
	}

	.content .notif .notif_pic_read{
		display: table-cell;
		width: 8vmin;
		height: 8vmin;
		border-radius: 4vmin;
		background: #AAA;
	}

	.content .notif .notif_object{
		display: table-cell;
		font-size: 1.1em;
		vertical-align: middle;
		height: 8vmin;
		padding-left: 5vmin;
	}

	.content .notif .notif_object:active{
		background-color: #CCC;
	}

	.content .notif .notif_object .name{
		color: #dd2267;
		font-weight: bold;
	}

	.content .notif .notif_object .object{
		color: #dd2267;
		font-weight: bold;
	}

</style>

<div class="body">
	<div class="content">
		<div class="notif" ng-repeat="notif in dataNotifikasi" ng-click="keStatus(notif.idStatus, notif.idNotifikasi)">
			<div ng-if="notif.read">
				<div class="notif_pic_read"></div>
			</div>
			<div ng-if="!notif.read">
				<div class="notif_pic"></div>
			</div>
			<div class="notif_object">
				<span class="name">{{ notif.nama }}</span>
				<span class="action">{{ getJenisNotifikasi(notif.jenisNotifikasi) }}</span>
				<span class="object">{{ getJenisSubNotifikasi(notif.jenisSubNotifikasi) }}</span>
			</div>
		</div>
	</div>
</div>